*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image:url(cake.png) ;
    background-repeat: no-repeat;
    background-size: 1290px 400px;
}
#text1{
    color: gray;
    font-size: 60px;
    margin-top:60px;
    margin-left: 70px;
}
#text2{
    
}